
@media(max-width:1210px){
    .auth-screen{
        height: 100%;
        height: 70vh;
        margin-top:10%;
    }
}
@media(max-width:995px){
    .welcome-screen{
        padding: 0 20px;
        padding-left: 40px;
    }
    .auth-screen{
        margin-left:0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width:735px){
    .auth-screen{
        width: 100%;
        flex-direction: column;
        margin: 0;
        height: 100vh;
        margin-right: 0px !important;
    }
    .login-img{
        width: 100%;
    }
    .welcome-screen{width: 100%;}
    .login-img img{
        width: 100%;
        height: 100%;
    }
    .welcome-screen{
        width: 100%;
    }
}
@media(max-width:476px){
    .auth-screen{
        margin-top: 40px;
    }
    .welcome-screen{
        padding: 10px;
        padding-top: 30px;
    }
    .auth-btn{
        width: 100%;
        padding: 15px 10px;
    }
}
@media(max-width:364px){
    .auth-screen{
        margin-top: 10px;
    }
    .auth-screen.signup{
        margin-top: 40px;
    }
}